@media only screen and (min-width : 992px) {
  .panel {
    max-width: 70%;
  }
}
@media only screen and (min-width : 1200px) {
  .panel {
    max-width: 50%;
  }
}
.contact h1 {
  background-color: #fff;
  color: #000;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.contactInfo {
  margin-top: 20px;
}
.panel {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.panel-heading {
  background-color: #46b8da;
  border: 1px solid #46b8da;
  margin-top: 0;
}
.form-group {
  padding-left: 10px;
  padding-right: 10px;
}
.form-group .control-label {
  width: 100%;
  text-align: left;
}
